<div class="normal medium google-destination-wrapper" style="height: {{ config.height }}px; width: {{ config.width }}px;">
  <div id="destination-map-{{ identifier }}" class="destination-map"></div>
  <div class="destination-summaries">
    <div class="destination-error" id="destination-error-{{ identifier }}" style="display: none"></div>
    <div class="destination-summary" id="destination-summary-{{ identifier }}-1"></div>
    <div class="destination-summary" id="destination-summary-{{ identifier }}-0"></div>
    <div class="destination-lastUpdate" id="destination-lastUpdate-{{ identifier }}"></div>
  </div>
</div>
